@charset "UTF-8";
@font-face {
  font-family: "Hand-Write";
  src: url('hand.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  margin:0;
  padding:0;
  font-size: 20px;
  background: gray;
}
body {
  margin:0 auto;
  padding:0;
  width: 100%;
  max-width: 980px;
  font-size: 1em;
  line-height: 1.8;
  font-family: "Hand-Write", verdana, "Microsoft Yahei";
}
img  {
  margin: 0 auto;
  display:block;
  max-width: 100%;
  background-color: rgba(0,0,0,0.05);
}
h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0.5em;
  text-align: left;
}
h1 { font-size: 2.0em; border-bottom: solid 1px #EAEAEA; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }
a {
  color:#006291;
  text-decoration: none;
}
a:link { color: #006291; }
a:visited { color: #006291; }
a:hover { text-decoration: none; color: #FF6633; }
em { font-style: normal; font-weight: normal; }
hr {
  border: none;
  height: 1px;
  background: #EAEAEA;
}
p { margin: 0.8em 0; padding: 0; text-indent: 2em; }
ul {
  margin: 1em;
  padding: 0;
  padding-left: 2.5em;
  list-style-type: disc;
}
li {
  margin:0;
  padding:0;
}
dl, dd {
  margin:0;
  padding:0;
}
@keyframes o-load {
  0% { background-color: rgb(200, 200, 200); }
  50% { background-color: rgb(210, 210, 210); }
  100% { background-color: rgb(200, 200, 200); }
}      
.o-load {
  width: 100%;
  height: auto;
  margin: 1em auto;
  background-image: url(loading.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 3rem 3rem;
  animation-name: o-load;
  animation-duration: 1s;
  animation-iteration-count: infinite;      
}
.o-error {
  width: auto;
  height: auto;
  margin: 1em auto;        
  background-color: rgba(250,250,250,0.8);
}
.o-normal {
  width: auto;
  cursor: pointer;
  background-color: rgba(250,250,250,1);
}
.quote {
  margin: 1em 2em;
  padding: 0.5em 1em;
  text-indent: 0;
  border-left: solid 5px silver;
  background-color: #EEEEEE;
}
.tag {
  color: gray;
  padding: 4px;
  font-size: 0.9em;
  border: solid 1px silver;
  border-radius: 3px;
  background-color: #EEEEEE;
  vertical-align: middle;
}
.center {
  color: gray;
  padding: 2em;
  background: white;
  text-align: center;
}
.small {
  font-size: 0.875em;
}
#content {
  color: #646464;
  padding: 2rem 5rem;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.618;
  background-color: white;
  overflow: hidden;
}
#data { display: none; }
@media screen and (max-width: 639px) {
  #content{ padding: 2em 4em; overflow: hidden; }
  h1,h2,h3,h4,h5,h6 { text-align: left; }
}
@media screen and (max-width: 479px) {
  #content{ padding: 2em; overflow: hidden; }
}
@media print { 
  h2 { page-break-before:always; } 
  .bar { display: none; }
  #content{ padding: 0; }
}