*{box-sizing:border-box;scrollbar-width:thin}button{color:gray;padding:.4em 1.2rem;border:solid 1px rgba(0,0,0,.05);outline:none;text-align:center;background-color:#0000000d;border-radius:5px;overflow:hidden;line-height:1.5rem;margin:0 .2rem;font-size:.9rem;-webkit-user-select:none;user-select:none;transition:all .3s ease-out;font-family:verdana,Source Han Sans CN,Microsoft Yahei}button:hover{color:teal;background-color:#00808008}button:active{color:teal;background-color:#0000000d}
